[2020-12-29 03:46] heatlai opened #1 "how to increase time slot height in "resourceTimeGridDay" ?"
default time slot height is too short, i want show full info.

[2020-12-29 08:29] vkurko commented on #1
There is currently no way to change the height of the slots. But there is an easy way to show all event content on mouseover.

All it takes is just this CSS rule:

[code]

See an example [here](http://jsbin.com/gaditewosu/edit?css,output).

[2020-12-30 02:04] heatlai commented on #1
Thanks for your answer, do you have solution on mobile ?

[2020-12-30 10:42] vkurko commented on #1
The `:hover` CSS selector should work on mobile too if you tap the event.

You can also try to set the `slotDuration` option of EventCalendar to a smaller value (default is  `00:30:00`) so that events take up more space. E.g. with `slotDuration: '00:15:00'` events will double in size.

[2021-01-04 03:06] heatlai commented on #1
thank you, it works.

[2021-01-06 04:08] #1 closed

[2021-03-23 00:25] dux opened #2 "Drag and drop ;) ?"
For calendar entries, to reschedule, any plans?

[2021-03-23 07:47] vkurko commented on #2
Hi @dux, I think I'll do it.

[2021-03-29 16:33] vkurko commented on #2
Drag-and-drop on desktop is now available in version `0.1.0-beta.1`.

See [demo](https://vkurko.github.io/calendar/) and check out the docs for [eventStartEdiatble](https://github.com/vkurko/calendar#eventstarteditable), [eventDragStart](https://github.com/vkurko/calendar#eventdragstart), [eventDragStop](https://github.com/vkurko/calendar#eventdragstop), [eventDrop](https://github.com/vkurko/calen

[2021-03-29 16:50] dux commented on #2
king! thx :)

[2021-05-20 09:05] vkurko commented on #2
I'm closing this issue. New feedback/ideas are welcomed.

[2021-05-20 09:05] #2 closed

[2021-06-01 11:24] jchapelle opened #4 "Internationalization problem"
When trying this great lib, I encounter trouble with locale/internationalization
Some labels does not seems to be translated properly. Is it possible to pass an object containing key and associated translations in order to overwrite the incorrect translations ?

[2021-06-01 11:46] jchapelle opened #5 "Change date event / View change event"
I cannot find the event triggered when the date change (in order to make an api call without using the eventSources option.
The problem I encounter with eventSource is that I dont want my api to send events directly

[2021-06-01 11:47] jchapelle opened #6 "Dragabble dont work"
I'm using the ResourceTimeGridWeek view. In that view, the dragging of event does not seems to work properly, even with the editable option and eventStartEditable option set to true

[2021-06-01 12:12] jchapelle opened #7 "Specific class for resource header"
Would it be possible to add a specific class for resource title
Currently, resource title have a fc-day class which does not seems right and make it very hard to style the resource header title

[2021-06-01 17:02] vkurko commented on #4
Hi jchapelle,

Can you please clarify which labels are not properly translated?

Date and time are formatted using the native JavaScript [Intl.DateTimeFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/DateTimeFormat) object which supports lots of locales. You can set the exact locale using the [locale](https://github.com/vkurko/calendar#lo

[2021-06-01 17:06] vkurko commented on #6
Hi jchapelle,

Could you please clarify what kind of drag and drop problem you are having?

[2021-06-01 17:11] vkurko commented on #7
Hi jchapelle,

You are right, there is currently no separate class option for the resource title. I will add it in the future release of the Event Calendar.

In the meantime doesn't the following CSS rule work for you?

[code]

[2021-06-01 17:25] vkurko commented on #5
Hi jchapelle,

It seems that there is currently no way to catch the date change. Do you know any suitable option in FullCalendar?

[2021-06-01 18:49] jchapelle commented on #4
Works like a charm.
Great, thanks

On Tue, Jun 1, 2021 at 7:02 PM Vladimir ***@***.***> wrote:

--
Jean Chapelle

[2021-06-01 18:51] jchapelle commented on #6
I just cannot drag ay event.

The config is as brlow

[code]

[2021-06-01 18:55] jchapelle commented on #7
Nope, I tried that  ;-)

When managing several resources in a ResourceTimeGrid, the separation
between resources is not that clear and it would be nice to get the
resource header in a different background color for each resource.

When trying your solution, a lot of other cells get colored as well. No
proper css selector can do what I want with the current existing classes.

On Tue, Jun 1, 2021 at

[2021-06-01 19:01] jchapelle commented on #5
Hum not really but I'm not an expert of fullcalendar.
I just tried it today.

Your datasource can be assimilated to the "event source as json" of
fullcalendar
However, fullcalendar proposes a "datasource as a function" which allows
you to do whatever you want.

On Tue, Jun 1, 2021 at 7:25 PM Vladimir ***@***.***> wrote:

--
Jean Chapelle

[2021-06-01 19:03] vkurko commented on #6
It looks like you're missing the `interaction` plugin which implements the drag and drop capability:

[code]

[2021-06-01 19:05] jchapelle opened #8 "Select"
Hey, your tool is great but I miss some nice feature of fullcalendar.

Are you planning to propose the select method of fullcalendar ?
This method allows you to create an event when the user select a time slot in a calendar.

[2021-06-01 19:06] jchapelle opened #9 "Alignment issue"
Sometimes, I get some alignment issue in the calendar. You can see in the screen shot that the time slot cell and the header cell are not properly aligned.

![image](https://user-images.githubusercontent.com/6162013/120377181-117ffb00-c31d-11eb-98af-ae17887e36c8.png)

[2021-06-01 19:10] jchapelle commented on #6
Oh damn !
Sorry, I totally missed that.
Thanks a lot.
Works like a charm with the interaction plugin.

On Tue, Jun 1, 2021 at 9:03 PM Vladimir ***@***.***> wrote:

--
Jean Chapelle

[2021-06-01 19:14] vkurko commented on #7
Yes, you are right. But the following selector seems to work:

[code]
 See [demo](https://jsbin.com/rocoduripu/1/edit?css,output).

[2021-06-01 19:28] vkurko commented on #8
You can use the [dateClick](https://github.com/vkurko/calendar#dateclick) callback which does pretty much the same thing.

[2021-06-01 19:35] jchapelle commented on #7
Great.
The following allows you to color each header in a different color.
Cheers

ec-header .ec-resource:nth-child(2) > .ec-day {
  background-color: #748ca5;
  color: white;
}
.ec-header .ec-resource:nth-child(3) > .ec-day {
  background-color: #74a591;
  color: white;
}

On Tue, Jun 1, 2021 at 9:14 PM Vladimir ***@***.***> wrote:

--
Jean Chapelle

[2021-06-01 19:37] jchapelle commented on #8
It seems like the select of fullcalendar creates an event of the size
between the mouse down coordinates  and the mouse up events coordinates.

Does the dateClick event of your library provide the start time at mouse
down and end time at mouse up ?

On Tue, Jun 1, 2021 at 9:29 PM Vladimir ***@***.***> wrote:

--
Jean Chapelle

[2021-06-02 08:49] vkurko commented on #8
Oh, now I see what you mean. No, the `dateClick` does not provide information about *selection*, it is only about click.

So at the moment I have no plans to implement the `select` feature, but I will do it if more people require this function.

[2021-06-02 09:04] vkurko commented on #9
Could you please create a jsbin (jsfiddle, codepen, etc.) sandbox in which I could reproduce the issue? Additional info about your OS and browser will also be helpful.

[2021-06-02 09:33] jchapelle commented on #9
It seems hard to reproduce. I encounter this issue on my laptop but not on
my workstation.
I've realized yesterday that this is linked to the scroll bar.
A padding corresponding to the width of the scroll bar is added in the
header.
No padding and no scroll bar are added in the body of the calendar, causing
the alignment issue.
How do you manage the scrolling inside the calendar ?

On Wed, Jun 2,

[2021-06-02 10:17] vkurko commented on #9
Yes, that padding is added to compensate for the width of the scrollbar in the main calendar area. However, it should disappear when the scrollbar disappears. This is currently being detected when the window is resized using this [function](https://github.com/vkurko/calendar/blob/fc05a23c40ee49b02cdf7ae24dfb12d16d8778b4/packages/common/src/utils.js#L5) which is not perfect due to IE11 support.

[2021-06-02 10:21] vkurko commented on #5
Yes, I think I will implement the *events as a function* feature in the next release of Event Calendar.

[2021-06-02 10:22] vkurko commented on #4
Great! I'm closing this issue then.

A star for this repository is much appreciated :-)

[2021-06-02 10:22] #4 closed

[2021-06-02 10:23] vkurko commented on #6
Great! I'm closing this issue then.

A star for this repository is much appreciated :-)

[2021-06-02 10:23] #6 closed

[2021-06-02 12:01] jchapelle commented on #5
Great

On Wed, Jun 2, 2021 at 12:21 PM Vladimir ***@***.***> wrote:

--
Jean Chapelle

[2021-06-02 12:02] jchapelle commented on #4
Star added ;-)

[2021-06-28 17:29] emrahnalci opened #10 "Drag & Drop disable"
How do I disable passive drag and drop?
And how can I select the time interval I want and run a function?

[2021-06-29 06:06] emrahnalci commented on #10
And last question.
How can i use ajax load data ?

[2021-06-30 03:29] emrahnalci opened #11 "Resources ajax"
How can i get resources with ajax ?
And post date ?

[2021-06-30 05:27] emrahnalci opened #12 "Events with Ajax"
How can i send date and load with ajax ?

[2021-07-02 06:12] vkurko commented on #10
Hi @emrahnalci

To disable the drag&drop you need to set both [editable](https://github.com/vkurko/calendar#editable) and [eventStartEditable](https://github.com/vkurko/calendar#eventstarteditable) to `false` (the `editable` is set to `false` by default).

To load the events data from a URL via AJAX you should use [eventSources](https://github.com/vkurko/calendar#eventsources) option. The Event Ca

[2021-07-02 06:32] vkurko commented on #11
Hi @emrahnalci

Currently you can set the list of [resources](https://github.com/vkurko/calendar#resources) only as a plain array object. However you can change any option at any time with the `setOption(option, value)` method. So you may change the `resources` as `ec.setOption('resources', [1, 2, 3])`.

[2021-07-02 06:33] vkurko commented on #12
Hi @emrahnalci

To load the events data from a URL via AJAX you should use [eventSources](https://github.com/vkurko/calendar#eventsources) option. The Event Calendar will send requests to the specified URL whenever it needs new event data. The request will include the `start` and `end` parameters (ISO8601 date strings) which specify the date-range that the calendar needs events for. The expected r

[2021-07-02 09:21] vkurko commented on #5
Hi @jchapelle

Please checkout the new version 0.2.0 of Event Calendar with the ability to specify the event source as a [custom function](https://github.com/vkurko/calendar#2-execute-custom-function).

[2021-07-02 09:29] vkurko commented on #7
Since the desired result can be achieved with existing classes, I decided not to introduce a new class name for the time being.

Thanks

[2021-07-02 09:29] #7 closed

[2021-07-02 10:34] jchapelle commented on #7
Ok cool

On Fri, Jul 2, 2021 at 11:29 AM Vladimir ***@***.***> wrote:

--
Jean Chapelle

[2021-07-03 10:39] emrahnalci opened #13 "How can i get data from events: function"
I want to get events from this style:
events: {
    url: '', type: 'POST', cache: false,
    success: function(data) {
        var events = [];
        $(data).each(function(e, l) {
            $(l.events).each(function(c, d) {
                events.push({
                    id: d.id, start: d.start, end: d.end, title: d.title, className: l.className, textColor: l.textColor
                });

[2021-07-05 07:02] vkurko commented on #13
It looks like you need to use the [eventSources](https://github.com/vkurko/calendar#eventsources) option like this:

[code]

[2021-07-05 07:08] #10 closed

[2021-07-05 07:08] #11 closed

[2021-07-05 07:08] #12 closed

[2021-07-05 21:28] #5 closed

[2021-07-07 07:58] emrahnalci commented on #13
Thank you..

[2021-07-07 11:28] #13 closed

[2021-07-19 12:32] emrahnalci opened #14 "Choose Date"
How can i choose date and load items ?

[2021-07-19 12:50] vkurko commented on #14
Hi @emrahnalci

You need to implement date navigation yourself. As an example, you can refer to [Bookly's implementation](https://plugins.trac.wordpress.org/browser/bookly-responsive-appointment-booking-tool/tags/19.9.1/backend/modules/calendar/resources/js/calendar-common.js#L306) for this.

As soon as the date is changed, the Event Calendar will send a request to the URL specified in the  [event

[2021-07-19 13:22] emrahnalci commented on #14
Thank you.
I will look and write feed back

[2021-07-20 11:01] wvffle opened #15 "Resize events"
https://github.com/vkurko/calendar#editable speaks of resizing events though it's not yet implemented.

[2021-07-20 13:37] vkurko commented on #15
Hi @wvffle,

You are right, the resizing is not implemented in Event Calendar. Let me assume that this will be the next feature I will implement when I have some free time :smiley:

[2021-07-20 14:30] wvffle commented on #15
Great, I'm looking forward to it.

If you're not planning on getting that done anytime soon, I could make a PR, though you'd need to point me to the package that I should modify

[2021-07-21 06:06] vkurko commented on #15
Well, to accept PRs, I would have to first draw up some code style rules... Which again takes time :smile: So let's try without them for now. You need to modify the `Interaction` plugin/package.

[2021-07-22 01:45] wvffle commented on #15
Unfortunately, it turned out that I won't have spare time anytime soon to work on it ;/

[2021-08-03 11:05] paubikas opened #16 "Slot height"
Hello is it possible to change slot height from default 24px to 12px or something?

[2021-08-03 12:30] vkurko commented on #16
Hi @paubikas

Unfortunately, there is no such setting yet. But since this question has already been [raised](#1), most likely I will add it in future versions.

[2021-08-04 12:46] JuniorJPDJ commented on #15
Is anyone working on this maybe?

[2021-08-04 21:05] vkurko commented on #15
At the moment, no.

[2021-08-09 07:01] emrahnalci commented on #14
Hi @vkurko i tried this;

`
<html>
<body>

let dateSetFromDatePicker = false;
--
 
let calendar = new window.EventCalendar($container.get(0), $.extend(true, {}, settings, obj.options.calendar));
 
// Init date picker for fast navigation in Event Calendar.
$('.ec-toolbar .ec-title', $container).daterangepicker({
parentEl        : '.bookly-js-calendar',
singleDatePicker: true,
showDropdowns   : true

[2021-08-09 08:02] vkurko commented on #14
Hi @emrahnalci,

Here is an [example](https://jsbin.com/yulumizepa/edit?js,output). Click the date range in the calendar header and select a day from a different week.

[2021-08-09 08:14] emrahnalci commented on #14
Thank youu Vladimir
I will try this 👍🏼

[2021-08-10 09:09] #14 closed

[2021-08-12 05:55] emrahnalci opened #17 "popover about."
Hi Vladimir,
I have a new problem :)
I'm using bootstrap v4.5.* popover with calendar eventMouseEnter function

My problem this:
When I hover, the popover works, but when I move to the next day, it shows the previous day's data. (same hours)

`eventMouseEnter: function(eventInfo){
            /* alert(eventInfo.event.extendedProps.nameSurname); */
            $(eventInfo.el).popover({

[2021-08-12 13:44] vkurko commented on #17
Hi @emrahnalci,

Without a live example, it's hard to understand what's going on in your case. I am assuming that you do not see the popup on initial mouseover, because your code only initializes the popup, but does not open it right away.

Also, you shouldn't expect new DOM elements to be created for new events when the display period is changed. It is possible that old ones will be reused - this

[2021-08-12 13:48] vkurko commented on #17
Bookly has popups in the calendar. You can examine the [code](https://plugins.trac.wordpress.org/browser/bookly-responsive-appointment-booking-tool/tags/20.0/backend/modules/calendar/resources/js/calendar-common.js#L79) and implement something similar.

[2021-08-12 21:27] emrahnalci commented on #17
I understand.
Again i cant use .s Sorry...
Hah i find little problem (i think) im using eventMouseEnter function, i cant get event id from data attribute. If i can use data-attr i can fix my problem.

Thank you Vladimir V.

[2021-08-13 08:14] TentacleSama4254 opened #18 "[Feature request] Add option to add thumbnails to events"

[2021-08-13 12:45] vkurko commented on #18
Hi @TentacleSama4254

Can you provide more details about the requested feature please?

You currently have full control over the content displayed inside the event using the [eventContent](https://github.com/vkurko/calendar#eventcontent) option. Perhaps this option will suit your needs.

[2021-08-14 05:46] TentacleSama4254 commented on #18
Oh sorry my bad, thx

[2021-08-14 05:47] #18 closed

[2021-08-19 09:19] paubikas opened #19 "Different resource view for week"
Is it possible to change view for resourceTimeGridWeek to show Day as header instead resource and then split to resource:

![image](https://user-images.githubusercontent.com/83951420/130043372-1a45502a-345c-4342-9bed-fe0432f7bc03.png)

[2021-08-19 15:52] vkurko commented on #16
Hi @paubikas

I've just released a new version of Event Calendar with [slotHeight](https://github.com/vkurko/calendar#slotheight) option available. Currently, you also need to override CSS for this option. Please read the docs.

[2021-08-19 15:52] #16 closed

[2021-08-19 15:56] vkurko commented on #19
Hi @paubikas

The new version `0.3.0` of the Event c\Calendar has a new option [datesAboveResources](https://github.com/vkurko/calendar#datesaboveresources)  that implements the requested layout.

[2021-08-19 17:47] emrahnalci commented on #17
Hi Kurko,
I couldn't.
Can you do a little demo for me again bootstrap popover with ajax ?

[2021-08-20 07:09] vkurko commented on #17
Hi @emrahnalci

Here is an [example](https://jsbin.com/pusatawadu/edit?js,output). See `eventContent` and `eventDidMount` options.

[2021-08-20 13:09] emrahnalci commented on #17
Thanks for eveything Mr. Vladimir :)

[2021-08-20 13:09] #17 closed

[2021-08-27 11:00] smelmd opened #20 "Callback called after the calendar’s date range changed"
It is possible to add callback datesSet like https://fullcalendar.io/docs/datesSet

[2021-08-29 11:18] emrahnalci opened #21 "AddEvent About"
Hi Vladimir,
I have a new question.
I'm adding new event calendar but im refreshing after adding event.
I wont reload the page.

My question: How can i add event on calendar ?
I want it to add a new event (or delete event) when I press the button than i will import my project :)
How can i do this?
I'm looking "addEvent( event )" but i didn't it.

[2021-08-30 14:13] vkurko commented on #20
Hi @smelmd,

The [datesSet](https://github.com/vkurko/calendar#datesset) option is available since v0.4.0.

[2021-08-30 14:13] #20 closed

[2021-08-30 14:13] #19 closed

[2021-08-31 06:53] vkurko commented on #21
Hi @emrahnalci

Sorry, I'm not sure I understood your question correctly. If you need to add an event to the calendar you can use either [addEvent](https://github.com/vkurko/calendar#addevent-event-), or [refetchEvents](https://github.com/vkurko/calendar#refetchevents) if the new event is stored in the database and can be loaded from the server.

[2021-09-01 16:34] conoroshea1996 opened #22 "Ability to disable editable on a per event basis"
Hey awesome library.
We are currently using your library for our application works great.
One option that would be really helpful is to be able to disable or enable editing an event on a per event basis.

- Our use case is that we want to be able to only enable drag on one particular event.
![Capture](https://user-images.githubusercontent.com/47694309/131708842-10303cbc-0acb-4ff2-9818-01bd9d2e806b

[2021-09-01 18:08] vkurko commented on #22
Hi @conoroshea1996

Thank you for the star!

The requested feature is available in v0.5.0 of the Event Calendar. Please note that there are 2 options that enable/disable the drag-and-drop feature - `editable` and `eventStartEditable`, so make sure you override both or the correct one with [editable and startEditable](https://github.com/vkurko/calendar#parsing-event-from-a-plain-object) properties

[2021-09-01 18:18] conoroshea1996 commented on #22
@vkurko That's brilliant
 thank you for your hard work.
Great library to work with thanks again

[2021-09-01 18:18] #22 closed

[2021-09-07 06:00] smelmd opened #23 "Add settings dayMaxEvents"
It is possible to add settings dayMaxEvents like https://fullcalendar.io/docs/dayMaxEvents

[2021-09-29 07:06] vkurko commented on #23
Implemented version `true` in Event Calendar v0.7.0. See [docs](https://github.com/vkurko/calendar#daymaxevents).

[2021-09-29 07:06] #23 closed

[2021-09-29 07:07] #21 closed

[2021-10-07 09:25] smelmd opened #24 "Width for popup with a list of events"
With narrow days in the month view, the popup with the list of events will also be narrow. It's possible to add a minimum width for it or the ability to manage it.

[2021-10-13 11:21] U4I-pradeep-gill opened #25 "Delete/Edit Icon on Event in React"
Is it possible to add a Delete/Edit event icon, while using below code:-
[code]

[2021-10-19 15:04] vkurko commented on #25
Hey @U4I-pradeep-gill.

The  `event-calendar.min.js` script is a pre-built bundle ready for use in [browsers](https://github.com/vkurko/calendar#browser-support). It includes all the plugins available in the Event Calendar, i.e. `@event-calendar/core`,  `@event-calendar/day-grid`,  `event-calendar/list`,  `@event-calendar/time-grid`,  `@event-calendar/resource-time-grid` and `@event-calendar/inter

[2021-10-20 09:40] U4I-pradeep-gill commented on #25
Installed the updated version 0.7.1 and it works as expected :)
Thank you :)

[2021-10-20 09:45] #25 closed, assigned to nobody

[2021-10-28 02:53] lmcardle opened #26 "Inside of a kit app"
Have you used this library inside of a svelte kit based application? I’m trying it out and not able to render it because of an error stating that *Calendar* is not SSR compatible.

[2021-12-09 07:12] mustafaabduljalil opened #27 "Change dayGrid"
can i replace dayGrid (days on the top of calendar) with users name ?

[2021-12-09 08:40] vkurko commented on #27
Hi @mustafaabduljalil

You can use a function for the [dayHeaderFormat](https://github.com/vkurko/calendar#dayheaderformat) option and return any text you like. Will this work for you?

[2021-12-21 11:28] vkurko commented on #27
Please open a new issue if you have further questions.

[2021-12-21 11:28] #27 closed

[2022-01-06 03:59] treighmawaka opened #28 "Any plans to support reccuring events with rrule?"
First off, great job putting this together! I've been looking for a viable alternative to fullcalendar and this is it.

Can you please advise or point to how to handle recurring events? Fullcalendar has `rrule-plugin`. Do you offer anything similar? I couldn't find it in the docs.

Cheers!

[2022-01-06 11:17] vkurko commented on #28
Hi @treighmawaka

Thank you for the star! 🙂

As for the recurring events, unfortunately, I have no plans to support them at this time. But I'll leave this issue open and if more people require this feature then I will do it.

[2022-01-06 13:33] treighmawaka commented on #28
@vkurko thanks for the quick reply.  I'll keep on eye on this, hopefully it's upvoted.

[2022-01-07 13:36] paubikas opened #29 "Now indicator"
Do you have plan to add now indicator like in fullcalendar?

[2022-01-07 22:10] vkurko commented on #29
Hi @paubikas

Thanks for the suggestion. I'll take a look at the FC implementation and most probably will do it in the Event Calendar

[2022-01-25 12:46] Tomasz-InterStudio opened #30 "Resource view - horizontal"
Hello, it looks good. Nice work 👍

I have question, its posible to configure `resource view` to look something like this:
![getIS](https://user-images.githubusercontent.com/76209189/150978967-5e4418fc-62a2-4c01-b7bc-b1f43b447df9.png)

If its possible, how can achive that look ?

[2022-01-26 08:30] vkurko commented on #30
Hi @Tomasz-InterStudio

Thank you for the star! :smile:

Unfortunately, this view is not available in Event Calendar. I'll leave this ticket open for others to vote on its implementation.

[2022-01-28 18:03] vkurko commented on #29
Hi @paubikas

The [nowIndicator](https://github.com/vkurko/calendar#nowindicator) option in available in Event Calendar v0.8.0. Please check.

[2022-02-03 19:56] DNWEIJ commented on #29
Hi there,

It works! :-)
But.... :-(
It doesn't take into account the following....
            slotMinTime: '08:00:00',
            slotMaxTime: '17:00:00',

So now the indicator is standing outside of the time box (at the moment it's 20:55.
The indicator is now placed outside the actual allowed time frame.

Would it be possibe to not placed it when it is outside the min-max period?

[2022-02-04 11:04] vkurko commented on #29
Hi @DNWEIJ

You're right! I released v0.8.1 with some fixes for this issue. Please check.

[2022-02-05 15:44] DNWEIJ commented on #29
ok, nice that works.! :-)

[2022-02-05 15:56] DNWEIJ opened #31 "Possiblity to have grey out period where no events can be created (past and into future period)"
Hi,

FYI: I am using your calander for a simple planning of appointments.

Is there a simple solution for you to disable the possiblity to add events in the past?

At the moment i am doing it myselve in the dateClick checking the date and ignoring the event when the incoming date is in the past.
But the draw back is that there are no visual hints that you cannot plan an appointment. (time is shown

[2022-02-07 07:29] vkurko commented on #29
Great!

[2022-02-07 07:29] #29 closed

[2022-02-07 11:16] vkurko commented on #31
Hi @DNWEIJ

Thank you for suggestions! I'd like to keep the size of the library as small as possible. And provide a tool instead of a ready-made solution :smile:

I prepared an [example](https://jsbin.com/zilekewige/edit?js,output) where days in the past are highlighted using background events. I used red, but you can change it to whatever you like. Also, using `eventContent`, you can not show the

[2022-02-08 17:55] DNWEIJ commented on #31
Thanks! This is indeed what i am search for. You pointed me in the right direction with the eventContent.

I totally missed it from the documentation

Maybe copy the part you have in the jsbin example for eventContent into the documentation as example? That gives a good pointer what you can do with the eventContent

Again, thanks! :-)

[2022-02-08 17:55] #31 closed

[2022-02-09 11:20] vkurko commented on #31
Yes, other tickets also had useful code examples. I'm thinking about taking them out to one place so that others can get to know them.

Thanks for the idea!

[2022-02-14 23:35] half2me commented on #26
Do you have any plans to support SvelteKit? I'd really like to use it in my SvelteKit app.

[2022-02-15 17:08] vkurko commented on #26
Hi @half2me

I think, yes. But give me a few days to answer the question more precisely.

[2022-02-15 17:17] half2me commented on #26
@vkurko thanks for the reply. Sure thing. If you need some help with it I'm happy to assist.

[2022-02-21 11:10] vkurko commented on #26
@lmcardle @half2me

I finally took the time to look at SvelteKit. It seems that it was only needed to include the source files in the Event Calendar packages and fix a weird bug in dev mode of Vite or SvelteKit (I couldn't figure out exactly where the problem comes from).

Can you try Event Calendar v0.8.2 and tell me if it works for you?

[2022-02-22 13:38] half2me commented on #26
@vkurko
Seems like sass is now a dependency, cause I get: `[vite] Internal server error: Preprocessor dependency "sass" not found. Did you install it?`

After installing sass as a dev dependency, it works as expected in the kit app.

[2022-02-22 13:45] vkurko commented on #26
Yes, I noticed this problem after v0.8.2 was published. I also don't like that now the calendar doesn't work in normal Svelte app (not SvelteKit) for the same reason - you need to configure `sass`.

So far I haven't found a good solution.

[2022-02-22 17:15] vkurko commented on #26
@half2me

I decided to replace `scss` with compiled `css` before publishing the package. So now there should be no dependency on `sass`.

Please check v0.8.3.

[2022-02-22 21:48] half2me commented on #26
@vkurko works well, thanks :)

[2022-02-22 22:13] vkurko commented on #26
Great! Closing this ticket then.

[2022-02-22 22:13] #26 closed

[2022-03-10 21:26] noneym opened #32 "headerToolbar content"
Hello,
First of all, I have to say that you wrote a great script.
i have a little problem ;
Is there a method where I can edit the headerToolbar design? like a eventContent  method.

[2022-03-11 18:12] vkurko commented on #32
Hi @noneym

There is [headerToolbar](https://github.com/vkurko/calendar#headertoolbar) option :smile: What specifically are you missing? Can you refer to the appropriate FullCalendar option?

[2022-03-20 21:59] noneym commented on #32
Actually, I needed something that I could change the html but I solved it with js thank you again

[2022-03-20 21:59] #32 closed

[2022-03-20 22:17] noneym opened #33 "Can I set non-clickable hours for resources?"
Hello Vladimir
Can I set non-clickable hours for resources? The unclickable time of each resource can be different.

![image](https://user-images.githubusercontent.com/190996/159188361-f455101c-8011-4bfc-8065-91d330c779b1.png)

[2022-03-22 07:27] vkurko commented on #33
Hi @noneym,

Please see this [comment](https://github.com/vkurko/calendar/issues/31#issuecomment-1031352102). Perhaps this is what you need. Let me know.

[2022-03-22 19:49] noneym commented on #33
yes like that. but it will only be for some hours of some resources. I couldn't figure out how to do this.

[2022-03-23 06:53] vkurko commented on #33
Both the [eventContent](https://github.com/vkurko/calendar#eventcontent) and the [dateClick](https://github.com/vkurko/calendar#dateclick) options contain information about which resource the click or the `pointer` event belongs to. So you can use this information to make different behaviors for different resources.

[2022-03-26 05:48] noneym opened #34 "filterResourcesWithEvents false set problem."
Hello

When I send the following command, the events are filtered, but when I send false, the events do not come back.
ec.setOption('filterResourcesWithEvents', 'true');
ec.setOption('filterResourcesWithEvents', 'false'); --- not working

[2022-03-28 07:31] vkurko commented on #34
@noneym You should pass booleans, not strings as the second parameter in `setOption`:

[code]

[2022-03-29 17:02] noneym commented on #34
:) its my bad sorry vkurko
Thank you

[2022-03-29 17:02] #34 closed

[2022-03-29 18:43] noneym opened #36 "when i use refetchEvents method can i set set extra param"
when i use refetchEvents method, can i set set extra param

for ex;
ec.refetchEvents(hideCancelledEvent);

also
I tried to write a function in the extraParams part of the eventSources method, it didn't work.

[2022-03-29 19:09] vkurko commented on #36
1. No, the `refetchEvents` method does not take any parameters.
2. Can you provide a code example where the `extraParams` does not work?

[2022-03-29 22:08] noneym commented on #36
[code]

GET Payload ;
![image](https://user-images.githubusercontent.com/190996/160715119-d00b45f6-3a45-4487-b2d4-5e8fdef7640a.png)

[2022-03-30 07:44] vkurko commented on #36
The correct usage of the function would be like this:
[code]

[2022-03-30 22:27] noneym commented on #36
thank you vkurko its worked :)

[2022-03-30 22:27] #36 closed

[2022-04-01 18:47] noneym opened #37 "eventsources method get event list"
Hello,

i am using eventsources  method,
i cant get loaded event list

ec.getOption('events');

this function not wotking when i use eventsources  method also there is no alternative

[2022-04-04 08:36] vkurko commented on #37
Hi @noneym

I'm going to implement a `getEvents()` method :smile:

[2022-04-05 05:49] noneym commented on #37
vkurko you are really great, the script is working very well, let me send you a screenshot, there are more than 250 appointments a day and your script is flawless.

![image](https://user-images.githubusercontent.com/190996/161687172-272bc510-b4c3-4f97-8b6f-7c934e34ba51.png)

[2022-04-05 05:49] #37 closed

[2022-04-08 21:40] mlscherer commented on #15
Hello @vkurko , just found this projetct and is almost everything I was looking for. Great job!

The resize event option is the only thing missing for now... Any updates on that? Or at least anything planned for the future?

Thanks!

[2022-04-10 14:03] noneym commented on #33
hello Vkurko,

The example you mentioned does not work in the eventSources method.
actually, it would be great if there was a method where we can change the background color of the calander for each resource according to the time interval.

[2022-04-10 16:46] vkurko commented on #33
Can you explain what exactly doesn't work? The [eventContent](https://github.com/vkurko/calendar#eventcontent) and the [dateClick](https://github.com/vkurko/calendar#dateclick) do not rely on `eventSources`.

It would be helpful if you provided an example in [JS BIn](https://jsbin.com) (or any other similar tool).

[2022-04-10 16:49] vkurko commented on #15
Hi @mlscherer

Thanks for your interest in Event Calendar. I'll try to work on `resizing` in the coming weeks.

[2022-04-10 22:09] MirwaisAkrami opened #38 "Expose methods for next and previous actions on the calendar"
Hi, @vkurko

I need to create my own next and previous buttons for the calendar, however, I could not find any methods exposed for this purpose.
Can you guide me on how to achieve this?

Thank you

[2022-04-11 14:11] mlscherer commented on #15
Hey, that's great, I hope it works out.

Another thing that's relative to this... Do you plan on making it possible to create events with the "click and drag", like Google Calendar does? So users can create an event and automatically define the period in the same action?

Thanks

[2022-04-11 14:25] vkurko commented on #15
This is called `select` in FullCalendar's terms. There is an open [issue](https://github.com/vkurko/calendar/issues/8) about it. You can vote for this to be further developed :smile:.

[2022-04-25 18:50] vkurko commented on #15
Hi all.

Sorry it took long. Please check out v0.10.0 which contains the ability to resize events. There are new options [eventDurationEditable](https://github.com/vkurko/calendar#eventdurationeditable), [eventResizeStart](https://github.com/vkurko/calendar#eventresizestart), [eventResizeStop](https://github.com/vkurko/calendar#eventresizestop), [eventResize](https://github.com/vkurko/calendar#eve

[2022-04-25 18:52] vkurko commented on #38
If you have more questions, feel free to reopen the ticket.

[2022-04-25 18:52] #38 closed

[2022-04-25 18:52] vkurko commented on #33
If you have more questions, feel free to reopen the ticket.

[2022-04-25 18:52] #33 closed

[2022-04-26 06:34] paubikas opened #39 "Bug with views"
In 0.10v there is a bug if you using a different view than the 'timeGridWeek' calendar messes up:

'resourceTimeGridDay':

![image](https://user-images.githubusercontent.com/83951420/165236197-5c95485f-e03e-474c-9e0c-7471020cb23b.png)

In timeGridWeek view:
![image](https://user-images.githubusercontent.com/83951420/165236220-6fe2faa4-f8b0-4ee2-880d-317f158b7df1.png)

If you press on Week button a

[2022-04-26 07:24] vkurko commented on #39
I cannot reproduce this on the [demo](https://vkurko.github.io/calendar/). Can you?

There is a CSS issue in v0.10.0 which is going to be fixed in v0.10.1 but that issue leads to different results than on your screenshots..

[2022-04-26 08:05] paubikas commented on #39
Yes, I can.

You only see this bug if your starting view is "resourceTimeGridWeek":

`let ec = new EventCalendar(document.getElementById('ec'), {
        view: 'resourceTimeGridWeek',
        height: '800px',
        headerToolbar: {
            start: 'prev,next today',
            center: 'title',
            end: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek resourceTimeGridWeek'
        },

[2022-04-26 09:29] vkurko commented on #39
@paubikas yes I see the issue, thank you! It will be fixed in v0.10.1.

[2022-04-26 09:43] vkurko commented on #39
v0.10.1 is available now :smile:

[2022-04-27 11:59] #39 closed

[2022-04-27 11:59] #15 closed

[2022-05-03 08:24] paubikas opened #40 "Cant disable tooltip or popover on drag"
It's not a bug but it will be nice feature that in  eventDragStart that will be "el" selector since popover or tooltip can not be disable while dragging event. So after dropping event in new place tooltip/popover element loses parent element and stays open

[2022-05-03 10:46] vkurko commented on #40
I guess you use `eventContent` to initialize the tooltip, right? If yes, did you try to use the `dispay` property of the [Event](https://github.com/vkurko/calendar#event-object) object to catch the `preview` stage of the event while dragging?

[2022-05-04 07:09] paubikas commented on #40
Yes I do. I have tried to debug it with console.log and it should work, but it does not.

`eventContent: function (info) {
                return info.event.display === 'auto' ? '<div class="ec-event-time">' + info.timeText + '</div>' + '<div class="ec-event-title">' + info.event.title + '</div>' + '<div hidden class="popover-content">' + info.timeText + '<br>' + info.event.title + '</div>' : '<di

[2022-05-04 08:56] vkurko commented on #40
What about just closing any popover on drag start? See [example](https://jsbin.com/cofezizuzo/edit?js,output).

[2022-05-11 11:30] paubikas commented on #40
Thanks, it is working as it should

[2022-05-11 11:30] #40 closed

[2022-05-11 16:09] conoroshea1996 opened #41 "Is it possible to implement all day on an event"
Hey thanks for the great library.

Im wondering is there anyway to a full day event.
With the all day bar up the top.
Something like this
![image](https://user-images.githubusercontent.com/47694309/167896710-5001a10b-c36c-4502-b1ab-3b564275cc9d.png)

If it's not possible
Let me know what it would take to have this feature and I can take a look

Thanks

[2022-05-12 07:59] vkurko commented on #41
Unfortunately, this feature has not yet been implemented.

Anyone who needs this feature, please give it :+1:. If the feature is popular, I will implement it.

[2022-05-12 10:27] emrahnalci commented on #41
We are see day list on the top right with buttons. Is this button not good for you ?

[2022-05-12 10:30] emrahnalci commented on #41
Vkurko, how can I click button and add new calendar event i cant do this
Can you make a demo for me ?

For example I want to click button add 14.00 - 17.00 event than im using now add calendarr event save than page refresh i dont want to this

[2022-05-12 11:19] vkurko commented on #41
I'm assuming the events are being fetched from the server. In this case, you are doing everything right, but instead of reloading the page, you need to call [refetchEvents()](https://github.com/vkurko/calendar#refetchevents).

[2022-05-12 15:44] vkurko commented on #41
This should definitely be in the [time-grid](https://github.com/vkurko/calendar/tree/master/packages/time-grid/src) plugin. You may also want to look at the FullCalendar's implementation and its [options](https://fullcalendar.io/docs/allDaySlot) for it.

[2022-05-19 16:45] conoroshea1996 commented on #41
Hey thanks @vkurko
I've started taking a look at this in more depth.
In terms of adding the all day functionality.

It be great if you could let me know if Im heading in the right direction or if you have different ideas of the implementation of this.

I currently have a setup here locally for just testing a few things.
Some things that seem abit more complex is things like.
 - Dragging from all d

[2022-05-19 18:56] vkurko commented on #41
Hi @conoroshea1996

It's a great start! I think you are moving in the absolutely right direction.

Let's start small and not implement this feature :smile:

Yeah, FullCalendar has a really cool thing about dragging an event from the all-day section to the hourly one. But this will require the implementation of additional options like [allDayMaintainDuration](https://fullcalendar.io/docs/allDayMain

[2022-05-19 20:50] conoroshea1996 commented on #41
Hey @vkurko
Great thanks very much for the quick response and feedback.
I'll keep going this way

That sounds good I think the dragging from all day to the hourly one isn't worth all the extra effort its not something we need need either at the moment so I'll forget about that  feature😄

Great I'll take a look at those some more and see if that works. Thanks for pointing me into the right directio

[2022-05-20 18:12] conoroshea1996 commented on #41
Hey @vkurko
I have made  a few changes to the all day bar.
I've made it similar to how the month view is working now as I think that makes sense?

Would it be possible to have a look at this PR.
Its still abit rough at the moment so I'll do some more cleaning up of it. (There's a few changes I have for running locally)

But Im wondering if you'd be happy to add something like this.

A Demo of it h

[2022-05-23 06:46] vkurko commented on #41
It looks nice. What about resource view?

Having realized that all-day is essentially a special case of the month view, I think I should refactor the `day-grid` plugin so that it can be used in `time-grid`/`resource-time-grid` without having to duplicate code.

Unfortunately, I don't have enough free time for that right now. But if you can finish your current code, I'll take the PR and do the refa

[2022-05-23 18:08] conoroshea1996 commented on #41
Hey thanks again for the response.

I've handled the resource view as there now as well.
### Example
https://www.loom.com/share/f8b8c4c1cc5f49048b4c265123b04165

I agree there's definitely some unnecessary code duplication being done at the moment.
I don't have a deep enough knowledge of the code base to handle cleaning that up and refactoring sorry about that.

That would be great once you have s

[2022-05-24 13:38] vkurko commented on #41
I'm going to merge it now, and review and refactor it later. Thanks for yout help!

[2022-05-24 15:48] conoroshea1996 commented on #41
No worries. Happy to help
Great thanks sounds good.
Yeah it could do with a good once over and review.
Let me know if I can do anything else to help.

[2022-05-26 09:49] conoroshea1996 commented on #41
Hey,
Just wondering would it be possible to release a beta version on to npm of what's currently on master branch.
So we could test out the new feature a bit in our application.
If not no worries.
Thanks again.
😃

[2022-05-26 11:14] vkurko commented on #41
Hi Conor. I hope to be able to make time for the calendar tomorrow.

[2022-05-26 13:48] conoroshea1996 commented on #41
Hey Vladimir that's great thanks for the update.
Sorry for all the messages as well if Im annoying you.

[2022-05-27 17:23] vkurko commented on #41
Hey @conoroshea1996

Unfortunately, I had very little time today, so the big refactoring did not happen. However, I still released a new version of the calendar (0.11.0). Please take a look at the new options [allDayContent](https://github.com/vkurko/calendar#alldaycontent) and [allDaySlot](https://github.com/vkurko/calendar#alldayslot).

Have a nice weekend :smile:

[2022-05-27 21:42] conoroshea1996 commented on #41
Hey @vkurko
That looks great nice aswell too add the option docs look good too.
Thanks for your time for releasing a new version
 it's very much appreciated.
Thats brilliant to have that added now

Have a great weekend  😃🥳

[2022-06-02 11:32] NoelOConnell opened #43 "eventDrop broken in v0.11.0"
The `eventDrop` callback has an issue in the latest version.

![image](https://user-images.githubusercontent.com/966495/171619999-cc27c6e7-e5a9-4c9c-aa35-c6d040a8a7ce.png)

`$_viewResources[resourceCol]` throws an error because `$_viewResources` is undefined

Here is a stackblitz example and changing the package version shows it working in v0.10.2
https://stackblitz.com/edit/web-platform-td4v8t?fi

[2022-06-03 05:48] vkurko commented on #43
Hi @NoelOConnell

Thanks for reporting the issue. I've fixed it in v0.11.1.

[2022-06-03 05:53] vkurko commented on #41
I hope I can close this issue.

[2022-06-03 05:53] #41 closed

[2022-06-03 07:21] NoelOConnell commented on #43
Thanks @vkurko, v0.11.1 has fixed the issue.

[2022-06-03 07:21] #43 closed

[2022-06-03 18:48] conoroshea1996 commented on #41
Ahh yes this issue is solved and thanks again for your hard work

[2022-06-13 15:48] xplsek03 opened #44 "Editable does not work"
Is it just me or these editable switches don't do anything? I am still able to resize/drag events. Modifies your official demo to test it.. thanks for reply.

[2022-06-13 21:25] vkurko commented on #44
Hi @xplsek03

I agree, it's a bit confusing, but there are other 2 settings that affect `dragging` and `resizing`. They are [eventStartEditable](https://github.com/vkurko/calendar#eventstarteditable) and [eventDurationEditable](https://github.com/vkurko/calendar#eventdurationeditable). They both are `true` by default and this has priotity over [editable](https://github.com/vkurko/calendar#editable

[2022-06-15 13:41] vkurko commented on #44
I hope I can close this issue.

[2022-06-21 20:29] AdrianGzzEsc opened #46 "Cant reduce Event duration"
After expanding the event its not possible to reduce it to one day, you can still expand it and short it but only into minimum 2 days

[2022-06-22 05:28] vkurko commented on #46
Hi @AdrianGzzEsc

Thanks for reporting the issue. I can't reproduce it, but I can guess what you're facing. Could you please provide the exact start and end time of the event you are resizing?

[2022-06-22 05:31] AdrianGzzEsc commented on #46
The issue is also in the demo, try expanding an event and then reduce it to
one day and you cant. Im about to go to sleep but if you need more
information I’ll email you tomorrow

El El mié, 22 jun 2022 a las 0:28, Vladimir ***@***.***>
escribió:

[2022-06-22 06:03] vkurko commented on #46
Ok. The point is that now in the month view, changes always occur in the form of plus or minus 1 day. Thus, if an event starts at 4pm and ends at 9am the next day, then it cannot be reduced by 1 day, because its duration is already less than 1 day.

The obvious solution would be to allow the end of the event to be reduced to, say, 5pm in this case, but in that case we will lose the original durati

[2022-06-22 17:39] AdrianGzzEsc commented on #46
My bad, I see that it is working fine. It was just in does cases which
makes sense not being able to reduce it.

On Wed, Jun 22, 2022 at 1:03 AM Vladimir ***@***.***> wrote:

[2022-06-23 05:58] vkurko commented on #46
Yes, but anyway, I think the calendar behavior is really non-obvious in such cases.

I'll leave this ticket open, maybe there will be an idea how to improve the behavior. For example, FullCalendar seems to allow only all-day events to be resized in month view.

[2022-06-23 13:34] AdrianGzzEsc commented on #46
Maybe just grab the end date and subtract one day, so If it starts
2022-06-23 9:00am and ends  2022-06-24 5:30pm if you reduce it  to a one
day event then end date = 2022-06-23 5:30pm.
But the problem will be an event that ends before 24hrs for example:
starts 2022-06-23 9:00am and ends  2022-06-24 7:00am. Since you can drag
and change duration maybe just make it end at 23:59 if end date < start
d

[2022-06-28 09:43] MirwaisAkrami opened #47 "Minimum width and scrollable view for resources in the daily view"
Hi @vkurko

First of all, thank you for the nice work you have done.

I want to have a minimum width for each resource and make them scrollable in the daily resource view.
In my project, I have more than 10 resources in the daily view and they may increase than that as well

![image](https://user-images.githubusercontent.com/34417742/176147034-d5bb388b-ff89-4c4a-a92a-a38e96756120.png)

Is there an

[2022-06-28 10:56] vkurko commented on #47
Hi @MirwaisAkrami

Unfortunately, this feature is currently not available in the calendar. And I doubt that it can be implemented only in CSS.

If you have examples of how such scrolling is implemented in other calendars, I would look at it.

From what is available, I would advise making it possible for the user to hide certain resources in order not to display all of them when there are a lot of

[2022-07-06 15:00] #47 closed, assigned to nobody

[2022-07-17 06:59] MirwaisAkrami opened #49 "How to use it inside angular project"
Hi @vkurko, I would like to use the calendar library inside Angular but I couldn't figure it out from the documentation, would you please assist me in this regard.

Thanks

[2022-07-18 06:47] vkurko commented on #49
Hi @MirwaisAkrami

Unfortunately, my experience with Angular was many years ago, and now I can hardly help. If you are well versed in Angular, you may find it useful to look at a similar implementation from [FullCalendar](https://github.com/fullcalendar/fullcalendar-angular/blob/master/projects/fullcalendar/src/lib/fullcalendar.component.ts).

[2022-07-18 10:53] MirwaisAkrami commented on #49
Hi @vkurko
I was able to use it in the angular app with [Pre-built browser ready bundle](https://github.com/vkurko/calendar#pre-built-browser-ready-bundle).
Here are some snippets, in case someone would need them.

1. Add the pre-build browser-ready bundle `js` and `css` files to `index.html`

2. In the component where you want to show the event calendar add
    `declare const EventCalendar: any`

[2022-07-18 10:53] #49 closed

[2022-07-18 10:57] vkurko commented on #49
@MirwaisAkrami Thanks for sharing your solution :smile:

[2022-07-19 19:02] eliluong opened #50 "Sunday events are not rendering"
Hello, on my calendar, Sunday events are not rendering and I am not sure why or if there is an option that I missed. I know the events exist inside the `events` property when printing to the console. There are about 2000 events to display in a month, but I reduced the number but it still does not show anything on Sunday. My events are all day events so I set the start/end to be the same date.

Ins

[2022-07-20 12:45] vkurko commented on #50
Hi @eliluong

Thanks for starring the repo and thank you for the jsfiddle example.

The problem is that it was not originally intended that the calendar should display events with zero duration. And in your case, when the start date is equal to the end date, the duration just turns out to be zero.

Yes, it happened by chance that such events were still displayed in the month view, but not on the f

[2022-07-20 22:16] eliluong commented on #50
Thank you, @vkurko I will give it a try.

What was the proper way to create an all-day event? I could not find clear documentation on this. I tried to just use a start date, but it ended up spanning over several days.

[2022-07-21 06:13] vkurko commented on #50
You should set the end date to the beginning of the next day. This should work in your jsfiddle example:
[code]

[2022-07-22 11:44] mutongwu opened #52 "neither eventClick or dateClick callback triggered ？"
It's weired that neither eventClick or  dateClick callback triggered.

anything wrong?
browser : Chrome
resources:
[code]

[code]

[2022-07-22 12:53] vkurko commented on #52
Everything seems to work fine https://jsbin.com/hoqotalubu/edit?js,output

[2022-07-22 23:45] eliluong commented on #50
Thank you for your help!

[2022-07-22 23:45] #50 closed

[2022-07-23 08:58] mutongwu commented on #52
Thanks you for you reply. It's my mistake. I haven't noticed console messages were filtered . 😅

By the way, it's a nice project.  And it will be much better to have more demo for it has so many options . Group the options into a few ones might be more clear.

[2022-07-23 08:58] #52 closed

[2022-07-23 09:30] mutongwu commented on #8
feature + 1

[2022-07-25 06:07] vkurko commented on #52
@mutongwu Thanks for the tips, I'll definitely take them into account in the future.

[2022-08-03 09:44] Rohit-webinventiv opened #53 "Event Slot Date"
I am facing issue in even slots, i.e. I have created the event between 13:00 to 14:00 but after saving the event, in calendar slots it get displayed between wrong time slots i.e. 01:00 to 02:00 which is wrong it should be displayed on the slots I have created while creating the event i.e. 13:00 to 14:00,
I have checked I have passed the correct value in start and end parameter.

Below is the code:

[2022-08-03 11:27] vkurko commented on #53
Hi @Rohit-webinventiv

Could you prepare a [JS Bin](https://jsbin.com/) (or [JSFiddle](https://jsfiddle.net/), etc) example please, so that I can reproduce the problem?

Thanks

[2022-08-03 12:09] KoljaL commented on #8
+101
that would be my saving 🥰

[2022-08-03 12:48] Rohit-webinventiv commented on #53
we are trying to integrate in angular

[2022-08-03 12:56] vkurko commented on #53
I'm sorry, but without being able to reproduce the issue, I won't be able to help you. The calendar seems to be fine, and the problem is probably in your third-party code.

[2022-08-03 13:50] Rohit-webinventiv commented on #53
can you suggest some of the point because of which I am facing these issue, So that I can troubleshoot those points.

[2022-08-03 17:30] vkurko commented on #53
Well, I would compare the actual events with the expected ones. You can get the actual events with the [getEvents()](https://github.com/vkurko/calendar#getevents) method.

[2022-08-04 06:57] Rohit-webinventiv commented on #53
Hello vkurko,
I am trying to create the demo, so that you can check but event calendar is not getting installed below is the link where I am trying to create demo.

https://stackblitz.com/edit/node-5hyjh3?file=angularcalendar%2Fsrc%2Fapp%2Fapp.component.html,angularcalendar%2Fsrc%2Fapp%2Fapp.component.ts

[2022-08-04 08:07] vkurko commented on #53
Maybe because this [package.json](https://stackblitz.com/edit/node-5hyjh3?file=angularcalendar%2Fsrc%2Fapp%2Fapp.component.html,package.json) is used and it is empty?

[2022-08-04 08:26] Rohit-webinventiv commented on #53
can you please check in angularcalendar1 directory there i have installed all the required modules, please check the code in app.component.ts file that i'm using in my app.

Package .json is not empty
{
  "name": "angularcalendar",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "watch": "ng build --watch --configuration development",

[2022-08-04 09:42] vkurko commented on #53
I don't see anything strange in `app.component.ts`. I hope you'll manage to run the project so that we can reproduce the issue.

[2022-08-04 10:19] Rohit-webinventiv commented on #53
we are trying but the library is installed still getting error module not found can you please check

[2022-08-04 11:44] vkurko commented on #53
I think the project uses the [package.json](https://stackblitz.com/edit/node-5hyjh3?file=angularcalendar%2Fsrc%2Fapp%2Fapp.component.html,package.json) from the root directory, not yours. Maybe you need to move all your files out of the `angularcalendar` directory or you may want to try `cd angularcalendar && npm i && npm run start`. You'd better refer to the StackBlitz documentation.

As for the

[2022-08-04 19:21] AdrianGzzEsc opened #54 "Can you make it work with required() instead of import?"

[2022-08-04 22:02] AdrianGzzEsc opened #55 "GetEvents changes start and end values"
Every time I call the getEvents function it changes the start and end hours. Also is it possible to save dates as strings since it always converts it into a date value. Right now to solve this problem I have to run a function after calling the getEvents so I can reformat the dates into "aaaa/mm/ddT17:30" saving it like this works and displays everything correctly.

A solution I can give is that th

[2022-08-05 10:12] Rohit-webinventiv commented on #53
Thanks for y help, I have updated the version of calendar after updation previous error get resolved.

[2022-08-05 10:14] Rohit-webinventiv commented on #53
But now eventClick: (eventClickInfo) => {

} function is not working

[2022-08-08 06:22] vkurko commented on #54
Hi @AdrianGzzEsc

Can you provide more details please?

[2022-08-08 06:26] vkurko commented on #53
This was recently discussed in #52 and everything should work.

[2022-08-08 06:28] vkurko commented on #55
Hi @AdrianGzzEsc

Could you prepare a [JS Bin](https://jsbin.com/) (or [JSFiddle](https://jsfiddle.net/), etc) example please, so that I can reproduce the issue?

Thanks

[2022-08-15 06:14] vkurko commented on #53
I hope I can close this issue.

[2022-08-15 06:14] #53 closed

[2022-08-15 06:15] vkurko commented on #55
I hope I can close this issue.

[2022-08-15 06:15] #55 closed

[2022-08-15 06:15] vkurko commented on #54
I hope I can close this issue.

[2022-08-15 06:15] #54 closed

[2022-08-30 06:34] poke-fcr opened #56 "Angular 13 support??"
Does this support angular 13? If someone can share some demo links it would be very helpful.

Thanks in advance :)

[2022-08-30 06:49] vkurko commented on #56
Hi @poke-fcr,

There was a discussion about Angular support recently in #49.

[2022-08-30 07:04] poke-fcr commented on #49
Thanks for the instant reply @vkurko

 @MirwaisAkrami If possible can you share the sample code/repo?
Also if you are adding pre-build bundles, do we need to install npm install --save-dev @event-calendar/core ??

I have just started development in angular, pls guide me if i am going in wrong direction..

[2022-08-30 08:34] MirwaisAkrami commented on #49
@poke-fcr hi,

No, You don't need to run npm install for that.

I am sorry, our repo is private to share, but if you follow the steps in my previous comment then you will be good to go.

Angular is a great framework, I will be glad to help you along the way.

[2022-09-07 06:34] vkurko commented on #56
I hope I can close this issue.

[2022-09-07 06:34] #56 closed

[2022-10-11 01:33] autech-greg opened #60 "Resource Time Grid for multiple days"
Is it possible to have a resourceView that works like resourceTimeGridDay, but has the timeslots as days instead of hours?

I have a use-case where I have multiple resources that can be booked out over days (not hours). I am trying to get the event-calendar to display this.

So far by using the following code below, I get close to what I want, but dragging seems broken and I can't figure out how t

[2022-10-11 10:04] vkurko commented on #60
@autech-greg Yes, it was not intended that periods expressed in days would be used in `timeGrid` views. That is why the time scale on the left is really not tied to the current date, but an arbitrary date 2020-01-01 is used. Maybe I should change this logic.

For other issues, try setting the `slotDuration` as `{hours: 24}`, because the value of seconds is used in this view, and the number of days

[2022-10-11 16:25] jchapelle commented on #8
Great !

Jean Chapelle
Chaps Development
+32 477/34.30.62
[image: ***@***.***
[image: phone-icon]https://tutute.be
[image: phone-icon]7 Avenue des vallées, 1341 Céroux-Mousty

On Tue, Oct 11, 2022 at 4:01 PM Vladimir ***@***.***> wrote:

[2022-10-12 01:43] autech-greg commented on #60
@vkurko Thanks for your reply.
Yes setting the slotDuration to hours:24 resolved the additional issues. I shall do some experiments to see if I can use slotLabelFormat to use current dates instead.

Cheers

[2022-10-12 07:55] vkurko commented on #60
`slotLabelFormat` supports using a function as a value. I think that in this function you can use the current date plus an offset in days to display the correct label.

[2022-10-12 21:17] AdrianGzzEsc opened #61 "Dragging Events into the calendar"
Is it possible to have a list of events next to the calendar and be able to drag and drop them inside of it? I have a list of pending events and then the users will place them inside the map

[2022-10-13 06:27] vkurko commented on #61
Hi @AdrianGzzEsc

This feature is currently not available. There is already an active [discussion](#45) about this (I'll close this one).

In short, at the moment, I have no plans to implement this feature. But anyone can help me with this. Or vote for its implementation :smile:

[2022-10-13 15:57] AdrianGzzEsc commented on #61
For people trying to do this I was able to replicate a similar behavior by having an array of pending events as buttons. When user click on the button a "pendingEvent" variable will get the event object and then on calendar dateClick the event will be added. That will import the event into the calendar which then can be move around normally.

[2022-10-13 20:29] vkurko commented on #61
Nice solution. Thanks for sharing!

[2022-10-14 18:40] vkurko commented on #8
In v0.13.0 there are also:

- [longPressDelay](https://github.com/vkurko/calendar#longpressdelay)
- [eventLongPressDelay](https://github.com/vkurko/calendar#eventlongpressdelay)
- [selectLongPressDelay](https://github.com/vkurko/calendar#selectlongpressdelay)

[2022-10-14 18:40] #8 closed

[2022-10-16 16:18] amcanlubo commented on #61
can you provide a sample of this?
thank you

[2022-10-17 15:26] gioramies commented on #30
+1

[2022-10-18 11:57] vkurko commented on #60
I hope I can close this ticket.

[2022-10-18 11:57] #60 closed

[2022-11-02 15:59] AdrianGzzEsc opened #63 "When Its the first of the month the map view is wrong"
![evidenceCalendar](https://user-images.githubusercontent.com/32023754/199538718-5720e71d-d596-43fc-801c-a13cda646ed7.png)

The image is from your demo, it was happening to me too so I went to the demo to see if it was not something I mess up.  As you can see in the image, Its november 1st and the first days of the months appear all the way at the bottom. This only happens when its the first of th

[2022-11-02 19:40] vkurko commented on #63
Hi @AdrianGzzEsc

I tried to reproduce the problem, but I didn't succeed. I changed the date on my computer to November 1st, but the calendar still displayed without issues.

Maybe information about your environment will help reproduce the problem. Please tell me the version of your browser and the time zone configured on your computer. Thanks.

[2022-11-02 19:49] AdrianGzzEsc commented on #63
Hello, this was happening to every user.
User browsers: Brave, Safari, Chrome, Opera

I think you couldnt replicate it since its the server time and not the
computer? Was Nobember 1st highlated?

El El mié, 2 nov 2022 a las 13:41, Vladimir ***@***.***>
escribió:

[2022-11-02 20:39] vkurko commented on #63
@AdrianGzzEsc what is your time zone?

[2022-11-02 21:04] AdrianGzzEsc commented on #63
Central Standard Time
Time zone in Ciudad Apodaca, Nuevo Leon (GMT-6)
Wednesday, November 2, 2022, 15:03

[2022-11-02 21:15] vkurko commented on #63
Thanks, I could reproduce it in your time zone. I will release an update as soon as I fix the bug.

[2022-11-02 21:38] vkurko commented on #63
@AdrianGzzEsc the issue should be fixed in v0.13.2. Please check.

[2022-11-05 23:16] timsu opened #64 "NowIndicator doesn't update when new day arrives"
When the calendar is open for more than a day, the NowIndicator stays on the original day the calendar was initialized to, and does not move to the new day. You can also reproduce this by changing the date on your computer and then causing a re-render - the indicator still shows on the previous day.  If it matters, I'm using the `timeGridDay` view.

I believe this is because of Day.svelte `isToday

[2022-11-07 09:11] vkurko commented on #63
I hope I can close this issue.

[2022-11-07 09:11] #63 closed

[2022-11-07 09:16] vkurko commented on #64
Hi @timsu

Thanks for reporting the issue. I was able to reproduce it.

In the new version 0.13.4 the problem should be fixed. Please check.

[2022-11-08 20:55] timsu commented on #64
Just tested it, it's fixed! Thanks so much 🙏

[2022-11-08 20:55] #64 closed

[2022-11-15 16:50] AdrianGzzEsc opened #65 "Overflow in Calendar"
![image](https://user-images.githubusercontent.com/32023754/201978127-cd3ff5f5-50a6-41c1-9a8e-a8504caa2499.png)

I wanted to know if its possible to add all the events in the map and be able to see them while scrolling instead of having the "6 more" tag. I added overflow but only increasing the height make it display more events.

[2022-11-16 07:48] vkurko commented on #65
Hi @AdrianGzzEsc

If you set [dayMaxEvents](https://github.com/vkurko/calendar#daymaxevents) to `false` (which is the default value) then the `6 more` link should not be displayed.

[2022-11-18 07:39] smallst opened #66 "ES6 import styles?"
can i import styles in es6 instead of using pre-build jsdelivr url ? if so. which file should i import ? `node_modules/@event-calendar/core/index.css` ?

[2022-11-18 12:48] noneym commented on #52
I have the same problem. When you click on dateclick, event click is also activated. The noeventclick function does not work in this case.

[2022-11-19 10:03] vkurko commented on #66
Yes, the CSS is located at `@event-calendar/core/index.css`. If your build tool supports CSS processing, you can import it like:

[code]

[2022-11-19 11:47] smallst commented on #66
thanks! i found it. maybe worth adding this info in readme so that everyone could make sure with it 😄

[2022-11-19 11:47] #66 closed

[2022-11-19 13:07] vkurko commented on #66
Done :smile:

[2022-11-21 17:54] vkurko commented on #65
I hope I can close this issue.

[2022-11-21 17:54] #65 closed

[2022-11-23 10:33] GSolorz-JP opened #67 "dayGridMonth not displaying"
dayGridMonth not working when i add all dependencies what event-calendar needed, but still not working. This is that how this option even doesn`t  exist.

[2022-11-23 11:54] GSolorz-JP commented on #67
I work in svelte, i forgot mention it. And unfortunately i can`t share demo.

[2022-11-23 20:46] vkurko commented on #67
You should check your code because the lib doesn't seem to have issues. Here is a [demo](https://codesandbox.io/s/hopeful-wildflower-22q6cl?file=/App.svelte) for Svelte.

[2022-11-24 07:49] GSolorz-JP commented on #67
I analyze my code and i find you used day-grid when i have time-grid and i don`t have line with import DayGrid so when i do it now it fixed, thnak you.

[2022-11-24 08:51] vkurko commented on #67
You're welcome :smile: